body{
    
    background-image: url("https://www.google.com/search?q=numbers+background&rlz=1C1CHBF_enIN919IN919&sxsrf=ALiCzsYOlFEhG0OpUDrp3XRpRYcAURpGWA:1656574979650&tbm=isch&source=iu&ictx=1&vet=1&fir=7x6hA9GmdifonM%252CFEx0H0Swu4qeaM%252C_%253Bqg0VW5gQX8J5hM%252CEfFEdaqyJmbYUM%252C_%253BP-Rpbn9oysTiJM%252CzWAsEjvSZdO-cM%252C_%253BQnBcN_wlbHyPHM%252CFw03vgRyMsYXBM%252C_%253BpBsYJa1Jz0LfNM%252COG56Cmc9bh1KRM%252C_%253B2IuLULvq2owzvM%252CIlq_ze9SpIHXRM%252C_%253BJeySXeRqf-8tNM%252CYv9chPBFs-p81M%252C_%253BgPikw8Fw824XJM%252Cpd3ZqMce_XpHEM%252C_%253BFU2PBYFziOmS0M%252CZcylIg3_sdN9wM%252C_%253BytxS7NcLm2jVUM%252C5ZzDx3h70iuNCM%252C_%253BXWtKo9yK56Yt5M%252CJO6ivDcM6e5ZsM%252C_%253B2MEjwLUA51WoVM%252Cl17FxmwGC_U0aM%252C_%253BSQNhdO23jWhJqM%252CicWq4UvXvcbUNM%252C_%253Bo5s6PjhZtWYVmM%252CCtBXCllxWbFcGM%252C_&usg=AI4_-kRzAqbcx_R0AA1hMdLQMU_7Plnu0w&sa=X&ved=2ahUKEwi4sdLZ1tT4AhXj6jgGHQLGDAsQ9QF6BAgIEAE#imgrc=YdLmxoEjoKynmM&imgdii=ff_Z9UpDCarm4M");
}

h2{
    color:  rgb(50, 0, 90);
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-family: fantasy;
}
.rules {
    display: flex;
    flex-wrap: wrap;
}
.rules > div {
    color: rgb(50, 0, 90);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container {
    background-color: rgb(50, 0, 90);
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 750px;
    border-radius: 5px;
    height: auto;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.wrapper > div {
    margin-left: auto;
    margin-right: auto;
}
h3{
    text-align: center;
    color:  rgb(129, 192, 189);
    font-size: 30px;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.main {
    background-color: rgb(50, 0, 90) ;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: fantasy;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50px;
    height: 30px;
    border-radius: 20px; 
}
button {
    margin-left: auto;
    margin-right: auto; 
    width: 150px;
    height: 50px;
    color:  rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color:  rgb(50, 0, 90);
    border-radius: 15px;
}
button:hover {
    background-color: rgba(107, 168, 247, 0.486);
}
